* {
    margin: 0;
}

.wrapper {
        width: 100%; /* Set width to 100% */
        height: 70vh;
        margin: auto;
        z-index: -1;
        background-image: url("./images/01/img1.jpg");
        background-repeat: round;
}

.wrapper-subscribers {
    width: 55%;
    color: white;
    text-align: center;
    font-weight: bold;
    margin: auto;
    padding: 100px;
    
}

.wrapper-subscribers  input {
    width: 600px;
    margin: 3px;
}

.wrapper-bottom {
    background-color: rgb(224, 218, 218);
    height: 30vh;
    text-align: center;
    display: flex;
    
}


.wrapper-bottom-items {
    width: 100%;
    padding: 30px;
}

.peoples {
    background-color: rgb(224, 218, 218);
    height: 70vh;
}

.peoples > h1 {
    text-align: center;
    padding:50px 0;
    
}

.account-details {
    margin: auto;
}

.account-details > h3 {
    padding: 5px;
}

.account-details > img {
    width: 170px;
}

.account {
    display: flex;
    text-align: center;
    padding: 0 50px;
}





#img{
    max-width: 100%;
}
.pcol{
    text-align: start;
    padding: 50px;
}

.footer{
    background-image: url(./images/01/img1.jpg);
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    color:white;
    background-size: cover;
    text-align: center;
    padding-top: 100px ;
}
#email{
    width: 600px;    
}
#siginup{
    width: 600px;
    background-color: rgb(112, 112, 245);
    
}

.row {
    margin: 0 !important;
}